<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>
      Coin Bureau Club - Account Deleted
    </title>
    <style>
      body { font-family: 'Open Sans', sans-serif; display: flex;
      justify-content: center; width: 100%; } .wrapper { width: 100%;
      table-layout: fixed; } .container { max-width: 500px; height: auto;
      padding: 30px 40px; text-align: center; margin: 0 auto; } .logo-background
      { background-image:
      url('https://coinbureau-hub-dev.s3.eu-central-2.amazonaws.com/public/black-background.jpg');
      width: 100%; margin: 0 auto; margin-bottom: 20px; padding-top: 10px;
      padding-bottom: 10px; } .logo { max-width: 300px; } .text-area {
      text-align: left; } .title { font-size: 20px; font-weight: 600;
      margin-bottom: 20px; } .sub-title { margin-bottom: 20px; } .description {
      margin: 0; } .support { font-size: 14px; margin-bottom: 30px; }
      .support-link { color: #f2c862; } .devider { border-bottom: 0.01px solid
      #f6f6f6; margin: 30px 0; } .icons-image { display: block; border: 0;
      outline: none; text-decoration: none; height: 24px; width: 24px; margin: 0
      5px; } .copyrights { font-size: 12px; } .im { color: #fff !important; }
      span { color: #fff !important; }
    </style>
  </head>
  <body style='color: #fff'>
    <div class='wrapper' style='background-color: #fff'>
      <div class='container' style='color: #fff; background-color: #000'>
        <h2 class='title' style='color: #fff'>
          Account Deleted
        </h2>
        <p class='sub-title' style='color: #fff'>
          Hi
          {{first_name}}
          {{last_name}},
        </p>
        <p class='description' style='color: #fff'>
          We’re sorry to see you go!
          <br />
          <br />
          This email is to confirm that your account has been deleted.
        </p>

        <div class='devider'></div>

        <p style='color: #fff' class='copyrights'>
          {{presentYear}}
          copyrights. All Rights Reserved.
        </p>
      </div>
    </div>
  </body>
</html>